.levantamento{
    background: #F07770;
}
.uc{
    background: #F07770;
}
.epe{
    background: #F07770;
}
.historiaUsuario{
    background: #F07770;
}
.processos{
    background: #F07770;
}
.modelagemBanco {
    background: #F07770;
}

.docTeste {
    background: #F07770;
}

.execTeste {
    background: #F07770;
}

.autoTeste {
    background: #F07770;
}

.frontEnd {
    background: #F07770;
}

.java {
    background: #F07770;
}

.kotlin {
    background: #F07770;
}

.banco {
    background: #F07770;
}

.git {
    background: #F07770;
}